<template>
  <v-container fluid>
    <v-app-bar
        app
    >
      <template v-if="!displaySearch">
        <v-btn icon @click="displaySearch = !displaySearch" class="ml-0">
          <v-icon>mdi-account-search</v-icon>
        </v-btn>
        <v-toolbar-title>Пользователи</v-toolbar-title>
      </template>
      <template v-else>
        <v-btn flat icon @click="closeSearch" class="ml-0 mr-4">
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
        <v-text-field v-model="search" autofocus hide-details solo clearable label="Поиск пользователей"></v-text-field>
      </template>
      <v-spacer v-show="!displaySearch"></v-spacer>
      <v-btn icon class="mr-0 ml-4" @click="getUsers">
        <v-icon>mdi-replay</v-icon>
      </v-btn>
    </v-app-bar>
    <v-list>
      <v-list-item
          v-for="user in users"
          :key="user.id"
      >
        <v-list-item-avatar>
          <v-img
              :src="user.avatar"
          ></v-img>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title>{{user.first_name}} {{user.last_name}}</v-list-item-title>
          <v-list-item-subtitle>{{user.email}}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-container>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'UsersList',
    data: () => ({
      displaySearch: false,
      search: '',
      users: []
    }),
    mounted() {
      this.getUsers()
    },
    methods: {
      closeSearch () {
        this.displaySearch = false;
        this.search = '';
      },
      getUsers () {
        axios.get('http://localhost:3000/users', {
          params: {
            search: this.search
          }
        }).then(res => {
          this.users = res.data
        })
      }
    },
    watch: {
      search () {
        this.getUsers()
      }
    }
  }
</script>
