<template>
  <v-app>
    <v-main>
      <users-list/>
    </v-main>
  </v-app>
</template>

<script>
import UsersList from './components/UsersList';

export default {
  name: 'App',

  components: {
    UsersList,
  },
};
</script>
